body {
    background-color: #0a0a23
}

 #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

#game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
}

#controls,
#stats {
    border: 1px solid #0a0a23;
    color: #0a0a23;
    padding: 5px;
    text-align: center;
}

#monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background: #c70d0d;
    text-align: center;
}

#image {
    color:#0a0a23;
    text-align: center;
}

.stat {
    padding-right: 10px;
}

button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient( #fecc4c, #ffac33);
    border: 3px solid #feac32;
  }